services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - '5433:5432'
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zero
      POSTGRES_USER: postgres

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
