services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zero
      POSTGRES_USER: postgres

    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -U postgres -d zero -h 127.0.0.1 || exit 1']
      interval: 2s
      timeout: 3s
      retries: 30
      start_period: 10s

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
