name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 24

        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm exec nx run-many -t test build typecheck

  deploy-staging:
    runs-on: ubuntu-latest
    needs: [static-checks]
    environment:
      name: staging

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 24

        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Fetch base SHA for Nx affected
        run: |
          git fetch --no-tags --depth=1 origin $NX_BASE

      - name: Install railway CLI
        run: bash <(curl -fsSL cli.new)

      - name: Deploy affected apps
        run: pnpm exec nx affected --target deploy
        env:
          RAILWAY_TOKEN: ${{ secrets.STAGING_RAILWAY_TOKEN }}

  staging-e2es:
    runs-on: ubuntu-latest

    needs: [deploy-staging]

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 24

        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Install railway CLI
        run: bash <(curl -fsSL cli.new)

      - name: Run E2Es
        run: BASE_URL=https://$(railway variable --json --service @zero/web | jq -r .RAILWAY_SERVICE__ZERO_WEB_URL) CI=true pnpm exec nx e2e @zero/web-e2e
        env:
          RAILWAY_TOKEN: ${{ secrets.STAGING_RAILWAY_TOKEN }}
