name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 24

        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Echo affected
        run: pnpm exec nx affected --target deploy
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      # - name: Install railway CLI
      #   run: bash <(curl -fsSL cli.new)

      # - run: pnpm install --frozen-lockfile
